/.project
*.config
/sav
/dat
*.sav
/debug
*.log
*.bak
*.orig
/.history
/.vscode
Thumbs.db
Emuera-Rikai-edict.*
/sound/music
/Emuera-Rikai-dictionaries
bfg.jar
lazyloading.dat
lazyloadingfiles.dat
/pops-tw.git
/pops-tw.git.bfg-report
/QUICKSTART/ERB
/QUICKSTART/TEMP
*.png~
*.webp~
*.kra~
setting.json
profile

GLCache/
